<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/register.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
    <title>Registro</title>
</head>
<body>


    <header>

        <div class="top-header">


           


        <div class="logo-barra">

           
      <div class="logo">
       <a href="/"><img src="images/logo-mercado-liebre.svg" alt="logo de mercado liebre"></a>
        </div>

       <div class="form" action="#" method="GET">

        <input type="text" name="" id="" placeholder="Buscar productos,marcas y mas">

        <button type="submit"><i class="fas fa-search"></i></button>
    
       </div>


    
       <p class="compra-en-cuotas"> <i class="fas fa-hand-holding-usd"></i> Compra en cuotas y sin tarjeta de credito </p>
    </div>





        
</div>
       

    <nav>

        <div class="listas">

        <ul>
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Tiendas Oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
        </ul>
        
        
        <ul>
            <li><a href="/registro">Crea tu cuenta <i class="far fa-id-card"></i></li></a></li>
            <li><a href="/login">Ingresa <i class="fas fa-sign-in-alt"></i></a></li>
            <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
        </ul>

    </div>

    </nav>

    <div class="burger-menu">
        <i class="fas fa-bars"></i>
    </div>



    </header>



    
    <main>

    <form action='/'>


        <div class="nombre">
        
        <input type="text" name="nombre" placeholder="Nombre y apellido" required>
        </div>

        <div class="usuario">
            <input type="email" name="email" id="email" placeholder="Nombre de usuario" required>
        </div>


        <div class="fecha-nacimiento">
            <input type="date" name="fecha" min="1940-01-01" required>
        </div>


        <div class="domicilio">
            <input type="text" name="domicilio" id="domicilio" required placeholder="Domicilio">
        </div>






        <h3>Perfil de usuario</h3><br>
        <div class="perfil">
          
            
            <div class="vendedor">

            <label>Vendedor</label><input type="radio" name="perfil" id="comprador" value="Vendedor" checked>

        </div>
           
            <div class="comprador">

            <label for="perfil">Comprador</label><input  type="radio" name="perfil" id="comprador" value="Comprador" >
        </div>

        </div>

<br>

            <h3>Intereses</h3>
        <div class="categorias">
          


          <label>Hogar</label><input type="checkbox" name="checkbox" value="hogar">
        </label>Electro</label><input type="checkbox" name="checkbox" value="electro">
         </label>Vida sana</label><input type="checkbox" name="checkbox" value="vida-sana">
               </label>Moda</label><input type="checkbox" name="checkbox" value="moda">
                    <label>Jugeteria</label> <input type="checkbox" name="checkbox" value="jugetes">



        </div>


        <br>

        <div class="foto">
            <h3>Foto de usuario</h3><br>
            <input type="file" name="foto" required accept=".jpg">
            
        </div>


        <div class="password">
            <input type="password" name="password" required placeholder="Contraseña">
        </div>

        <div class="repetir-contra">
            <input type="password" name="password-repeat" required placeholder="Repetir contraseña">
        </div>

        <button type="submit" method="POST" action='/'style="width: 100%; background-color: blue;color: wheat;">Registrarme</button>

        <button type="reset" method="POST"style="width: 100%; background-color: blue;color: wheat;" action='/register'>Borrar</button>

    </form>

    </main>


    <footer>

        <section>
            <article>
                <i class="fas fa-credit-card"></i>
                <h3>Paga con tarjeta o en efectivo</h3>
                <p>Con mercado liebre Cash, tenes cuotas sin interes con tarjeta o efectivo en puntos de pago ¡Y siempre es seguro!</p>
            </article>


            <article>
                <i class="fas fa-gift"></i>
                <h3>Envío gratis desde $ 2.500</h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.<p>
            </article>

            <article>
                <i class="fas fa-user-shield"></i>
                <h3>Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.<p>
            </article>
           

        </section>

        <article class="derechos">
            <h5>Copyright © 1999-2020 MercadoLiebre S.R.L.</h5>
        </article>

    </footer>


</body>
</html>